    
    <%= render "partials/user_info", user: @user %>
    <%= link_to root_path do %>
      <button class="b-home">Home</button>
      <% end %>
    <div class="user_details">
    <p><span>Bio <br><br></span><%= @user.bio %></p>
    </div>
  <% @user.newest_posts.each do |post| %>
    <div class="post">
      <h4>Post #<%= post.id %></h4>
      <p><%= post.text %></p>
    </div>
  <% end %>
  <div class="see_all_posts">
  <button class="b_posts"><%= link_to('See all posts', user_posts_path(@user)) %></button>
</div>