<div id="container">
<%= render('partials/user_info', user: @user) %>
<div class="user_container">
<%= link_to new_user_post_path(@user) do %>
<button class="add-post">Add New Post</button>
<% end %>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-and-comments">
        <div class="post">
        <h4><%=link_to "Post #{post.id}", user_post_path(@user, post)  %></h4>
          <p><%= post.text %></p>
          <%if can? :destroy, post %>
          <%= button_to "Delete Post", user_post_path(post.author,post), method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
          <% end %>
        </div>
        <% if post.comments.length.positive? %>
        <div class="comments">
            <% post.newest_comments.each do |comment| %>
              <p><%= comment.id %>. <%= comment.text %></p>
              <%if can? :destroy, comment %>
              <%= button_to "Delete Comment", user_post_comment_path(comment.author_id, comment.post_id, comment), method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
              <% end %>
            <% end %> 
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="pagination">
  <button class="b_posts">Pagination</button>
</div>
</div>
</div>
