<div id="container">
<%= render('partials/user_info', user: @user) %>
<div class="user_container">
<%= link_to new_user_post_path() do %>
<button class="add-post">Add New Post</button>
<% end %>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-and-comments">
      <%= link_to user_post_path(@user, post) do %>
        <div class="post">
          <h4>Post #<%= post.id %></h4>
          <p><%= post.text %></p>
        </div>
      <% end %>
      <% if post.comments.length.positive? %>
        <div class="comments">
            <% post.newest_comments.each do |comment| %>
              <p><%= comment.id %>. <%= comment.text %></p>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="pagination">
  <button class="b_posts">Pagination</button>
</div>
</div>
</div>
